#options #mainview #emailInvalidWarning h3, #options #mainview #emailInvalidWarning
p{color:#900}#options
p.error{color:#900;font-weight:bold;margin:8px
10px}#options #mainview #vacationMode
a.button{display:block;width:300px;margin:8px
auto}#options
table{width:500px;margin:0
auto}#options #mainview .content
div{margin-top:8px}#options ul.errors
li{color:#C00;font-weight:bold;margin:4px
100px;list-style:disc inside}#options #mainview .content
p{text-align:center}#options #mainview .content h3, #options
caption{padding:10px
6px 0px 6px;margin:0;color:#612d04;font:bold 12px Arial, Helvetica, sans-serif;text-align:center;border-bottom:1px solid #f1d198}#options table
th{text-align:left;padding-left:10px;width:200px}#options table td, #options table
th{padding:4px
8px}#options #mainview .content
.fbNotice{width:550px;margin:10px
auto;padding:0
35px 5px 0}#options #mainview .content .fbNotice
p{text-align:right}#options #mainview .content
.fbNoticeSpacer{height:2px}#options .fbBtn .btn-fb{background:url(../img/buttons/fb-conect-btn.png) no-repeat 0 0;padding-right:24px;display:table;margin-right:auto;margin-left:auto}#options .fbBtn .btn-fb-text{background:url(../img/buttons/fb-conect-btn.png) no-repeat scroll left -29px transparent;color:#FFF;font-weight:700;height:29px;line-height:28px;padding:0
8px;text-align:center;display:table-cell}#options a.fbBtn:hover{text-decoration:none}#options #fbLoginBox
a{color:#861b0d;font-weight:bold}#options #fbLoginBox
.fbBtn{background:url(../img/buttons/fb-conect-btn.gif) no-repeat;height:29px;margin:15px
0}#options #fbLoginBox .fbBtn
.fbBtnMiddle{background:url(../img/buttons/fb-conect-btn.gif) repeat-x 0 -29px;color:#fff;display:block;font-size:14px;font-weight:700;height:23px;margin:0
25px;padding:6px
8px 0;top:0px !important}#options #fbLoginBox .fbBtn
.fbBtnEnd{background:url(../img/buttons/fb-conect-btn.gif) no-repeat left -58px;height:29px}#options #fbLoginBox .fbBtn a:hover{text-decoration:none}