#tavern
.buildingDescription{background:url(../img/buildings/y100/tavern.gif) no-repeat left 10px}#tavern #container #mainview .content
.sliderinput{margin:10px
130px 8px 0pt;position:relative}#tavern #mainview .forminput
#textfield_wine{display:none}#tavern #mainview .forminput
.setMax{display:none}#tavern #mainview
#serve{margin:10px
130px 10px 0px}#tavern #mainview #serve
select{border:1px
solid #c9a584;border-top-color:#5d4c2f;border-right-color:#5d4c2f;color:#542C0F}#tavern
div.satisfaction{color:#906646;font-size:14px;font-weight:bold;margin-right:130px}#tavern
span.value{font-size:18px;color:#906646;vertical-align:middle}#tavern
span.bonus{padding-right:10px;color:#906646}